.navbar {
  width: 100%;
  background-color: #219ebc;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 50;
}

.nav__logo > a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__links > li {
  padding: 0rem 1.5rem;
}
.navbar__links > li:last-child {
  padding: 0rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}
.navbar__links > li > a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.sign__link {
  border: 0px;
  background-color: #8ecae6;
  border-radius: 0px 15px 15px 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.sign__link:hover {
  background-color: #023047;
}
.sign__link > a {
  padding: 15px;
}

.threeLines {
  display: none;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.threeLines > span {
  background-color: white;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.threeLines:hover > span {
  background-color: #023047;
}

@media (max-width: 950px) {
  .threeLines {
    display: flex;
  }
  .navbar__links {
    display: none;
  }
}
