.adminloginscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  transform: translate(-50%, -50%);
}
.adminloginscreen > h1 {
  font-size: 55px;
}

.spinner2 {
  width: 70px;
  height: 70px;
  border-left: 4px solid #219ebc;
  border-radius: 100px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.admin__form__elements {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.admin__section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.admin__section > label {
  font-size: 25px;
}
.admin__section > input {
  border-radius: 0px 5px 5px 5px;
  border: 1px solid #ffffff;
  padding: 12px;
  width: 350px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.admin__section > input:focus {
  border: 1px solid #219ebc;
  padding: 12px;
  width: 350px;
  outline: none;
}
.admin__login__btn {
  color: white;
  font-weight: 700;
  font-size: 17px;
  background-color: #023047;
  border-radius: 5px;
  border: 1px solid #023047;
  padding: 15px 25px;
  width: 200px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.admin__login__btn:hover {
  background-color: transparent;
  color: black;
}

.adminIn__error {
  color: black;
  font-size: 17px;
  background-color: #fb8500;
  border-radius: 5px;
  padding: 22px 75px;
  text-align: center;
}
