.appointmentscreen {
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inside__form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  align-items: center;
  padding-bottom: 4rem;
}

.div__button {
  display: flex;
  justify-content: center;
}

.div__button > button {
  color: white;
  font-size: 17px;
  font-weight: 500;
  background-color: #219ebc;
  border-radius: 5px;
  border: 2px solid #219ebc;
  padding: 15px 25px;
  width: 200px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.div__button > button:hover {
  background-color: transparent;
  color: black;
}
@media (max-width: 800px) {
  .inside__form {
    display: flex;
    flex-direction: column;
  }
}
