.homescreen_container {
}
.homescreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homescreen__header {
  padding: 3rem;
  width: 100%;
  height: 800px;
  background-color: #219ebc;
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;
  grid-template-columns: repeat(2, 1fr);
}

.doc__image > img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  /*box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);*/
}
.headline {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.headline > p:first-child {
  font-size: 2rem;
}
.headline > p:last-child {
  font-size: 1rem;
}

.headline > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #023047;
  border-radius: 9px 9px 9px 9px;
  width: 300px;
  height: 70px;
  font-size: 25px;
  color: white;
  text-decoration: none;

  transition: 0.2s ease-in-out;
}

.headline > a:hover {
  transform: scale(1.1);
}
.search__icon {
  cursor: pointer;
}
.homescreen__body {
  background-color: white;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 0.5fr 0fr 1fr;
}
.homescreen__body > p {
  color: #219ebc;
  font-size: 35px;
  text-transform: uppercase;
}

.foursteps {
  margin: 5rem;
  display: flex;
  gap: 100px;
  padding: 2rem;
}
.step1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.step1 > img {
  width: 100px;
  height: 100px;
}
.homescreen__footer {
  background-color: #023047;
  color: white;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .homescreen__header {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .homescreen__body {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;

    gap: 15px;
  }
  .homescreen__body > p {
    text-align: center;
    padding: 2rem 1rem;
  }
  .homescreen__body > h2 {
    text-align: center;
  }
  .doc__image > img {
    width: 250px;
    height: 250px;
  }
  .foursteps {
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding: 2rem 0.5rem;
  }
}
