/*@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
}
